In [39]:
import pandas as pd
import numpy as np

In [40]:
test_data = pd.read_csv("test.csv")
train_data = pd.read_csv("train.csv")

In [41]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4190 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: float64(6), object(7)
memory usage: 434.5+ KB

In [42]:
train_data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [43]:
for x in train_data.columns:
    print ("----------%s" % x)
    print (train_data[x].value_counts())

----------PassengerId
0001_01    1
6136_01    1
6141_01    1
6139_06    1
6139_05    1
          ..
3126_01    1
3124_03    1
3124_02    1
3124_01    1
9280_02    1
Name: PassengerId, Length: 8693, dtype: int64
----------HomePlanet
Earth     4602
Europa    2131
Mars      1759
Name: HomePlanet, dtype: int64
----------CryoSleep
False    5439
True     3037
Name: CryoSleep, dtype: int64
----------Cabin
G/734/S     8
G/109/P     7
B/201/P     7
G/1368/P    7
G/981/S     7
           ..
G/556/P     1
E/231/S     1
G/545/S     1
G/543/S     1
F/947/P     1
Name: Cabin, Length: 6560, dtype: int64
----------Destination
TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
Name: Destination, dtype: int64
----------Age
24.0    324
18.0    320
21.0    311
19.0    293
23.0    292
       ...
72.0      4
78.0      3
79.0      3
76.0      2
77.0      2
Name: Age, Length: 80, dtype: int64
----------VIP
False    8291
True      199
Name: VIP, dtype: int64
----------RoomService
0.0       5577
1.0        117
2.0         79
3.0         61
4.0         47
          ...
1612.0       1
2598.0       1
632.0        1
378.0        1
745.0        1
Name: RoomService, Length: 1273, dtype: int64
----------FoodCourt
0.0       5456
1.0        116
2.0         75
3.0         53
4.0         53
          ...
3846.0       1
5193.0       1
312.0        1
827.0        1
4688.0       1
Name: FoodCourt, Length: 1507, dtype: int64
----------ShoppingMall
0.0       5587
1.0        153
2.0         80
3.0         59
4.0         45
          ...
3627.0       1
2074.0       1
871.0        1
742.0        1
1872.0       1
Name: ShoppingMall, Length: 1115, dtype: int64
----------Spa
0.0       5324
1.0        146
2.0        105
5.0         53
3.0         53
          ...
273.0        1
2581.0       1
2948.0       1
3778.0       1
1643.0       1
Name: Spa, Length: 1327, dtype: int64
----------VRDeck
0.0       5495
1.0        139
2.0         70
3.0         56
5.0         51
          ...
408.0        1
876.0        1
2891.0       1
2102.0       1
3235.0       1
Name: VRDeck, Length: 1306, dtype: int64
----------Name
Gollux Reedall        2
Elaney Webstephrey    2
Grake Porki           2
Sus Coolez            2
Apix Wala             2
                     ..
Jamela Griffy         1
Hardy Griffy          1
Salley Mckinn         1
Mall Frasp            1
Propsh Hontichre      1
Name: Name, Length: 8473, dtype: int64
----------Transported
True     4378
False    4315
Name: Transported, dtype: int64

In [44]:
pd.isnull(train_data).sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [45]:
train_data['HomePlanet']=train_data['HomePlanet'].fillna(value='Earth', limit=109)
train_data['HomePlanet']=train_data['HomePlanet'].fillna(value='Europa', limit=50)
train_data['HomePlanet']=train_data['HomePlanet'].fillna(value='Mars', limit=42)

In [46]:
pd.isnull(train_data['HomePlanet']).sum()

0

In [47]:
train_data['CryoSleep']=train_data['CryoSleep'].fillna(value='False', limit=139)
train_data['CryoSleep']=train_data['CryoSleep'].fillna(value='True', limit=78)

In [48]:
pd.isnull(train_data['CryoSleep']).sum()

0

In [72]:
train_data['Destination']=train_data['Destination'].fillna(value='TRAPPIST-1e', limit=round(182*round(5915/(5915+1800+796), 2)))
train_data['Destination']=train_data['Destination'].fillna(value='55 Cancri e', limit=round(182*round(1800/(5915+1800+796), 2)))
train_data['Destination']=train_data['Destination'].fillna(value='PSO J318.5-22', limit=round(182*round(796/(5915+1800+796), 2)))

In [73]:
pd.isnull(train_data['Destination']).sum()

2